

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    background-color: #f5f5f5;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /*background: linear-gradient(135deg, #48048d 0%, #be6cff 100%); */
    background-image: url("images/static/KOTECH_LOGO-01.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: 250px 0;
    background-repeat: no-repeat;
}

.login-container {
    background: white;
    margin-right: 1000px;
    border-radius: 10px;    
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    width: 450px;
    padding: 40px;
    text-align: center;
}

.logo {
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-png{
    width : 50px;
    height: 50px;
}



h1 {
    color: #48048d;
    margin-bottom: 30px;
    font-weight: 600;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

input {
    width: 100%;
    padding: 15px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s;
    outline: none;
}

input:focus {
    border-color:#48048d;
    box-shadow: 0 0 0 2px rgba(72, 4, 141, 0.2);
}

label {
    position:absolute;
    left: 15px;
    top: 15px;
    color: #999;
    transition: all 0.3s;
    pointer-events: none;
}

input:focus + label, 
input:not(:placeholder-shown) + label {
    transform: translateY(-24px);
    font-size: 12px;
    color: #48048d;
    background: white;
    padding: 0 5px;
}

input::placeholder {
    color: transparent;
}

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    color: #be6cff;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.submit_button {
    background: linear-gradient(to right, #48048d, #be6cff);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
}

.submit_button:hover {
    opacity: 0.9;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(190, 108, 255, 0.4);
}

.signup {
    margin-top: 30px;
    font-size: 14px;
    color: #666;
}

.signup a {
    color: #48048d;
    text-decoration: none;
    font-weight: 600;
}

.signup a:hover {
    text-decoration: underline;
}


.message-class{
    padding-bottom: 10px;
}
.message{
    color: red;
}
