{% extends "registration_template.html" %}
{% load static %}

{% block title %}
    <title>Hackathon Registration</title>
{% endblock title %}

{% block header %}
<div class="header">
  <h1>Hackathon Registration</h1>
  <p>Join Kotech Hackathon 2025 to solve real-world challenges and showcase your skills. Team up and let your ideas take flight!</p>
  <p><strong>Read the guidelines <a href="{% static 'media/hguidelines.pdf' %}">here</a></strong></p>
</div>
{% endblock %}

{% block form %}
<div class="card">
  <form id="hackathon-registration-form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <label for="team-lead-name" >Name (Team Lead)<span class="required-star">*</span></label>
      <input type="text" id="team-lead-name" name="team_lead_name" required placeholder="Enter team lead's full name">
    </div>
    <div class="form-group">
      <label for="institution">Institution/Organization <span class="required-star">*</span></label>
      <input type="text" id="institution" name="institution" required placeholder="Enter your institution name">
    </div>
        <div class="form-group">
          <label for="team-members">Number of Team Members<span class="required-star">*</span></label>
          <select id="team-members" name="number_of_members" required>
            <option value="" disabled selected>Select number of members</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
    <div class="form-group">
      <label for="district">District<span class="required-star">*</span></label>
      <select id="district" name="district" required>
        <option value="" disabled selected>Select your district </option>
        <option value="Alappuzha">Alappuzha</option>
        <option value="Ernakulam">Ernakulam</option>
        <option value="Idukki">Idukki</option>
        <option value="Kannur">Kannur</option>
        <option value="Kasaragod">Kasaragod</option>
        <option value="Kollam">Kollam</option>
        <option value="Kottayam">Kottayam</option>
        <option value="Kozhikode">Kozhikode</option>
        <option value="Malappuram">Malappuram</option>
        <option value="Palakkad">Palakkad</option>
        <option value="Pathanamthitta">Pathanamthitta</option>
        <option value="Thiruvananthapuram">Thiruvananthapuram</option>
        <option value="Thrissur">Thrissur</option>
        <option value="Wayanad">Wayanad</option>
      </select>
    </div>
    <div class="form-group">
      <label for="email">E-mail ID <span class="required-star">*</span></label>
      <input type="email" id="email" name="email" required placeholder="Enter your email address">
    </div>
    <div class="form-group">
      <label for="contact-number">Contact Number <span class="required-star">*</span></label>
      <input type="tel"
      name="contact_number"
      id="contact-number"
      pattern="[0-9]*"
      maxlength="10"
      minlength="10"
      oninput="this.value = this.value.replace(/[^0-9]/g, '')"
      required
      placeholder="Enter your contact number">
    </div>
    <div class="form-group">
      <label for="github-profile">GitHub Profile<span class="required-star">*</span></label>
      <input type="url" id="github-profile" name="github_profile" placeholder="Enter your GitHub profile link" required>
    </div>
    <div class="form-group">
      <label for="linkedin-profile">LinkedIn Profile<span class="required-star">*</span></label>
      <input type="url" id="linkedin-profile" name="linkedin_profile" placeholder="Enter your LinkedIn profile link" required>
    </div>
    <div class="form-group">
      <label for="portfolio">Portfolio (if available)</label>
      <input type="url" id="portfolio" name="portfolio" placeholder="Enter your portfolio link">
    </div>
    <div class="form-group">
      <label for="resume-link">Resume (Drive Link)</label>
      <input type="url" id="resume-link" name="resume_link" placeholder="Enter your resume drive link">
    </div>
	<div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_PUBLIC_KEY }}"></div>
    <button type="submit" class="submit-btn">Register</button>
  </form>
<div class="message-class">
 		    {% if messages %}
                {% for message in messages %}
 					<p class={{message.tags}}>{{ message }}</p>
 				{% endfor %}
            {% endif %}
          </div>
</div>
{% endblock %}
