<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            title
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-container">
       <a href="/"><img class = "logo-png" src="{% static 'images/KOTECH_LOGO-0.png' %}" alt="Logo" style= "width:250px; height:auto;"></a>
        <h1>
            {% block heading %}
            Heading
            {% endblock %}
        </h1>
        {% block content %}
        <form method="post">
            {% csrf_token %}
            <div class="input-group">
                <input type="email" id="email" placeholder=" ">
                <label for="email">Email Address</label>
            </div>
            <div class="input-group">
                <input type="password" id="password" placeholder=" ">
                <label for="password">Password</label>
            </div>
            <div class="forgot-password">
                <a href="/forgot">Forgot Password?</a>
            </div>
            <button type="submit">Log In</button>
        </form>
        {% endblock %}
        {% block signup%}
        <div class="signup">
            Don't have an account? <a href="/signup">Sign Up</a>
        </div>
        {% endblock %}
        
    </div>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</body>
</html>