{% extends "registration_template.html" %}
{% load static %}

{% block title %}
    <title>Media Registration</title>
{% endblock title %}

{% block header %}
<div class="header">
  <h1>Media Registration</h1>
  <p>Join Kotech 2025 to solve real-world challenges and showcase your skills. Team up and let your ideas take flight!</p>
</div>
{% endblock %}

{% block form %}
<div class="card">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="form-group">
      <label for="name" >Name<span class="required-star">*</span></label>
      <input type="text" id="team-name" name="name" required placeholder="Enter Your Name">
    </div>
    <div class="form-group">
      <label for="institution">Institution/Organization <span class="required-star">*</span></label>
      <input type="text" id="institution" name="institution" required placeholder="Enter your Institution name">
    

    <div class="form-group">
      <label for="email">E-mail ID <span class="required-star">*</span></label>
      <input type="email" id="email" name="email" required placeholder="Enter your email address">
    </div>
    <div class="form-group">
      <label for="contact-number">Contact Number <span class="required-star">*</span></label>
      <input type="tel"
      name="contact_number"
      id="contact-number"
      pattern="[0-9]*"
      maxlength="10"
      minlength="10"
      oninput="this.value = this.value.replace(/[^0-9]/g, '')"
      required
      placeholder="Enter your contact number">
    </div>

    </div>
        <div class="form-group">
          <label for="Intrested Area">Intrested Area<span class="required-star">*</span></label>
          <select id="Intrested Area" name="area" required>
            <option value="" disabled selected>Select The intrested area</option>
            <option value="1">Video Editing</option>
            <option value="2">Graphic designing</option>
            <option value="3">Photography</option>
            <option value="4">Videography</option>
          </select>
        </div>
        <div class="form-group">
      <label for="portfolio">Portfolio (if available)</label>
        <input type="url" id="portfolio" name="portfolio" placeholder="Enter your portfolio link">
      </div>
      <div class="message-class" style="display: flex; justify-content: center;">
 		    {% if messages %}
          {% for message in messages %}
 					  <p class={{message.tags}}>{{ message }}</p>
 				  {% endfor %}
        {% endif %}
      </div>
	<div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_PUBLIC_KEY }}"></div>

    <button type="submit" class="submit-btn">Register</button>

  </form>

</div>
{% endblock %}

