{% extends "registration_template.html" %}
{% load static %}

{% block title %}
    <title>AI Literacy admission</title>
{% endblock title %}

{% block header %}
<div class="header">
  <h1>AI Literacy admission</h1>
<p>ഏത് പ്രായക്കാർക്കും ഫെസ്റ്റ് ദിനങ്ങളിൽ ഫാറൂഖ് കോളേജിൽ അഡ്മിഷൻ എടുത്ത് പഠിക്കാൻ രജിസ്റ്റർ ചെയ്യുക</p>
</div>
{% endblock %}
{% block form %}
    <div class="card">
        <form id="flashmob-registration-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">പേര്<span class="required-star">*</span></label>
                <input type="text" id="name" name="name" required placeholder="പേര്">  
            </div>
            <div class="form-group">
                <label for="age">വയസ്സ്<span class="required-star">*</span></label>
                <input type="text" name="age" required placeholder="വയസ്സ്">  
            </div>
            <div class="form-group">
                <label for="contact_no">മൊബൈൽ നമ്പർ<span class="required-star">*</span></label>
                <input type="text" id="contact_no" name="contact_no" required placeholder="മൊബൈൽ നമ്പർ">
            </div>
            <div class="form-group">
                <label for="department">വിദ്യാഭാസ യോഗ്യത <span class="required-star">*</span></label>
                <input type="text" id="department" name="department" required placeholder="വിദ്യാഭാസ യോഗ്യത">  
            <div class="form-group">
                <label for="muncipality">മുനിസിപ്പാലിറ്റി/പഞ്ചായത്തിന്റെ പേര് <span class="required-star">*</span></label>
                <input type="text"  name="muncipality" required placeholder="മുനിസിപ്പാലിറ്റി/പഞ്ചായത്തിന്റെ പേര്">  
            <div class="form-group">
                <label for="vard">വാർഡ് <span class="required-star">*</span></label>
                <input type="text" id="department" name="vard" required placeholder="വാർഡ്">  
            </div>
            <div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_PUBLIC_KEY }}"></div>
            <button type="submit" class="submit-btn">Register</button>
        </form>
        <div class="message-class" style="display: flex; justify-content: center;">
            {% if messages %}
                {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
    </div>
{% endblock form %}