{% extends 'login_layout.html' %}
{% load static %}

{% block title %}
    Login Page
{% endblock title %}

{% block heading %}

    <h1>Login</h1>
{% endblock heading %}

{% block content %}
    <form method="POST" action="/login/">
        {% csrf_token %}
        <div class="input-group">
            <input type="email" id="email" name="email" placeholder="E-Mail" required>
            <label for="email">Email Address</label>
        </div>
        <div class="input-group">
            <input type="password" id="password" name="password" placeholder="Password" required>
            <label for="password">Password</label>
        </div>
        <div class="forgot-password">
            <a href="/forgot">Forgot Password?</a>
        </div>
    <!-- Display Django messages -->
     <div class="message-class">
    {% if messages %}
            {% for message in messages %}
                <p class="message{{message.tags}}">{{ message }}</p>
            {% endfor %}
    {% endif %}
    <div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_PUBLIC_KEY }}"></div>
    </div>
        <input type="submit" value="Login" class="submit_button"> 
    </form>

{% endblock content %}

{% block signup %}
    <div class="signup">
        Don't have an account? <a href="/signup">Sign Up</a>
    </div>
{% endblock signup %}
