{% extends 'login_layout.html' %}

{% block title %}Login Page{% endblock title %}

{% block heading %}Register{% endblock heading %}

{% block content %}
<form action="/signup/" method="post">
	{% csrf_token %}
	<div class="input-group">
	    <input type="text" id="Name" name = "fullname" placeholder="">
	    <label for="email">Full Name</label>
	</div>
	<div class="input-group">
	    <input type="email" id="email" name = "email" placeholder=" " required>
	    <label for="email">Email Address</label>
	</div>
	<div class="input-group">
	    <input type="tel" id="phone" name="phone" placeholder=" " pattern="^\+?[0-9\s\-]{7,15}$" required>
	    <label for="phone">Phone Number</label>
	</div>	

	<div class="input-group">
	    <input type="password" id="password" name = "password1" placeholder=" " required>
	    <label for="password">Password</label>
	</div>
	<div class="input-group">
	    <input type="password" id="password" name = "Password0" placeholder=" " required>
	    <label for="password">Confirm Password</label>
	</div>
	<input type="submit" value="Sign Up" class="submit_button">
</form>
{% endblock content %}
{% block signup %}
{% if messages %}
<ul class="messages">
	{% for message in messages %}
		<li class="{{ message.tags }}">{{ message }}</li>
	{% endfor %}
</ul>
{% endif %}
    <div class="signup">
        Already have an account? <a href="/login/">Login</a>
    </div>
{% endblock signup %}

